.form-container {
  display: flex;

  justify-content: center;
  flex-grow: 1;
  margin-bottom: 15rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  padding: 0 5rem;
}

.title-container {
}

.form-title {
}

.form-description {
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
