.highlights {
  margin: 10rem 0 16rem;
}

.highlights-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
}

.highlights-content {
  display: flex;
  justify-content: center;
}

.highlights-card {
  width: 30rem;
  padding: 0 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.highlights-card:not(:last-child) {
  margin-right: 3rem;
}

.highlights-card:nth-child(3) img {
  object-fit: fill;
  width: 100%;
  height: 20rem;
}

.highlights-card-image-container {
  margin: 0 -2rem;
}

.highlights-card-image {
  border-radius: 1rem 1rem 0 0;
  object-fit: contain;
}

.highlights-card-header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 3rem;
}

.highlights-card-price {
  color: var(--color-secondary-1);
}

.highlights-card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.highlights-card-title {
  font-size: var(--type-text);
  text-transform: uppercase;
  font-weight: 700;
}

.highlights-card-description {
  word-wrap: break-word;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .highlights {
    margin: 25rem 0 8rem;
  }

  .highlights-content {
    flex-direction: column;
    align-items: center;
  }

  .highlights-card:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
}
