.primary-button {
  border: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.primary-button:hover {
  filter: brightness(0.95);
  transform: scale(1.02);
}

.primary-button--yellow {
  border: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: var(--color-highlight-2);
  background-color: var(--color-primary-2);
  cursor: pointer;
}

.primary-button--yellow:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

.primary-button--green {
  color: var(--color-highlight-1);
  background-color: var(--color-primary-1);
}

.secondary-button {
  border: none;
  cursor: pointer;
}

/* .header,
.highlights,
.footer {
  width: 70%;
  margin: 0 auto;
} */
